// ================================
// Colors
// ================================

// Default Color
$d1: #1c1c1c !default;

// Main Colors
$m1: #1d6a96 !default;
$m2: #a2dbf3 !default;
$m3: #edf6fb !default;
$m4: #ec1946 !default;
$m5: #fcd7af !default;
$m6: #fff6f1 !default;
$m7: #edf4f8 !default;


// Shade Colors
$s0: #000000 !default;
$s1: #131313 !default;
$s2: #242424 !default;
$s3: #373737 !default;
$s4: #636363 !default;
$s5: #959595 !default;
$s6: #cfcfcf !default;
$s7: #e5e5e5 !default;
$s8: #f8f8f8 !default;
$sf: #ffffff !default;

// Link Color
$a1: #36c !default;
$a2: #039 !default;